{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Fabiola's Flavor Kitchen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/portfolio/css/foodstyle.css">
  </head>
  <body>
    <header>
      <h1>Fabiola's Flavor Kitchen</h1>
    </header>
    <main class="container">
      <section class="menu-item">
        <h2>The Cemita Supreme</h2>
        <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t39.30808-6/337555671_1333013143940845_6275390816485245737_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Hz-5eJX2FmUAX8j67Ts&_nc_ht=scontent-lax3-1.xx&oh=00_AfC6QgToDs6YieQX8NAMWmIcwpI62zjlHGEiWyLe6j9dxA&oe=64433989" alt="The Cemita Supreme">
        <p class="price">$13</p>
        <hr>
        <p class="item-description">Get ready to indulge in the ultimate cemita experience with The Cemita Supreme, a classic cemita poblana packed with all the fixings.

This sandwich starts with a soft and fluffy cemita bun, baked fresh daily, and lightly toasted to perfection. Next, we pile on tender slices of juicy pork or chicken, slow-cooked to perfection with a blend of traditional spices and herbs.

Then, we add a generous helping of creamy avocado slices, crisp lettuce, juicy tomato, and zesty onions, all piled high atop the meat. But we don't stop there. No, The Cemita Supreme wouldn't be complete without a heaping helping of queso Oaxaca, a smooth and mild cheese that adds the perfect finishing touch to this classic sandwich.

As you take a bite, the flavors meld together in perfect harmony, with the soft and fluffy bun, savory meat, creamy avocado, and zesty onions and tomatoes all coming together in one delicious bite. It's a taste of Mexico, right in the comfort of your own home.

Satisfy your hunger and treat your taste buds to The Cemita Supreme, a sandwich that's sure to become a new favorite.</p>

      </section>
      <section class="menu-item">
        <h2>The Relleno Royale</h2>
        <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t39.30808-6/340285822_478463041073605_6001860480559369847_n.jpg?stp=cp6_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=F03G9arC5esAX_0io3h&_nc_ht=scontent-lax3-1.xx&oh=00_AfBkEXt_TzQnwpUNNTs7fGl_kYlOi-T3YU3ihNpcaOQSug&oe=64417B53" alt="The Relleno Royale">
        <p class="price">$15</p>
        <hr>
        <p class="item-description">Indulge in the grandeur of The Relleno Royale, a Chile Relleno plate fit for royalty. The star of the show is a hearty poblano pepper, charred to perfection and stuffed with creamy Oaxaca cheese, then dipped in a light egg batter and fried until golden brown. The savory and slightly spicy flavor of the pepper is perfectly complemented by the smooth and melty cheese.

This regal dish is served with a side of fluffy white rice and tender beans, cooked to perfection with just the right amount of seasoning. The rice and beans are the perfect accompaniment to the flavorful Chile Relleno, balancing out the heat with their mild and comforting flavor.

To complete this majestic meal, we add a refreshing macaroni salad to the plate. Made with al dente elbow macaroni, crisp vegetables, and a creamy dressing, this salad adds a cool and satisfying crunch to every bite.

Experience the luxury of The Relleno Royale, a dish fit for a king or queen, right in the comfort of your own home.</p>

      </section>
      <section class="menu-item">
        <h2>The Inferno Shrimp</h2>
        <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t39.30808-6/340251698_1313329719250223_2598987102060226734_n.jpg?stp=cp6_dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=FYN6OoPtO14AX-E81W9&_nc_ht=scontent-lax3-1.xx&oh=00_AfB6e-OFd-PzgzbyPaFDhn5PqUKba-FlcV2G6SF0g7qVFw&oe=6442E694" alt="The Inferno Shrimp Plate">
        <p class="price">$16</p>
        <hr>
        <p class="item-description">Get ready to experience the heat with The Inferno Shrimp Plate, a sizzling platter of succulent shrimp cooked to perfection with a spicy diablo sauce.

Each juicy and flavorful shrimp is carefully coated in a fiery sauce that's sure to make your taste buds dance with excitement. The sauce is made with a blend of traditional spices and peppers, delivering just the right amount of heat to make each bite unforgettable.

Served alongside the shrimp is a hearty helping of seasoned white rice and tender beans, cooked to perfection with just the right blend of spices. The combination of the shrimp, rice, and beans create a flavorful and satisfying meal that's sure to leave you feeling satisfied.

To complete this fiery feast, we add a refreshing macaroni salad to the plate. Made with al dente elbow macaroni, crisp vegetables, and a creamy dressing, this salad adds a cool and satisfying crunch to every bite, providing the perfect balance to the spicy shrimp.

Experience the heat of The Inferno Shrimp Plate, a dish that's sure to delight spicy food lovers everywhere. Order now and enjoy this sizzling plate of shrimp, rice, beans, and macaroni salad.</p>

      </section>
    </main>
    <hr>
    <main class="container">
      <section>

      </section>
    </main>
  </body>
</html>