{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<nav id="topNav" class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'vibes' %}">
        <img src="{% static 'portfolio/CVLogo2.png' %}" width="30" height="30" class="d-inline-block align-top" alt="vcalvario logo">
      </a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'vibes' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'bestguide:besthome' %}">BestGuide</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% static 'portfolio/Py4eCer.pdf' %}">Py4e</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% static 'portfolio/Dj4eCer.pdf' %}">Dj4e</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active1" href="{% url 'portfolio' %}" target="_self">Portfolio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:all_blogs' %}">Blogs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="row justify-content-center my-3">
  <div class="col-6">

      <img src="{% static 'portfolio/images/myquotecvlogoFinal.jpg' %}" class="img-fluid round" alt="Victor Calvario"/>

  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
      <h1 id="hometext" class="font-weight-bold">Victor Calvario<br>Commander<br>-in-<br>Chief<br>👨🏻‍💻</h1>
  </div>
</div>

<h2 class="mt-5">Portfolio</h2>
<hr>

<div class="row justify-content-around">

    {% for project in projects %}

    <div class="col-lg-4 col-md-6">

        <h3>{{ project.title }}</h3>


        {% if project.url %}
        <a href="{{ project.url }}">
            <img src="{{ project.image.url }}" class="img-fluid mb-2" alt="Project Image">
        </a>

        {% else %}

        <img src="{{ project.image.url }}" class="img-fluid mb-4 round" alt="Project Image">

        {% endif %}

        <p>{{ project.description }}</p>

    </div>

{% endfor %}
</div>


<div class="row justify-content-center my-3">
  <div class="col-lg-8">
      <h2>Ask and you shall receive.</h2>
      <img src="{% static 'portfolio/babygrootnike.jpeg' %}" class="img-fluid mb-2 round" alt="Baby Groot"/>
      <img src="{% static 'portfolio/images/infiniteintelligencetake2.jpg' %}" class="img-fluid mb-2 intro round" alt="infiniti car"/>
      <div class="w3-panel w3-leftbar w3-light-grey round">
            <span class="w3-xlarge w3-serif"><i>"Whatever you pray and ask for, believe that you will receive it, and it will be so for you."</i></span>
            <b>Mark 11:24</b>
      </div>
  </div>
</div>

<hr>

<div class="container">
    <div class="row justify-content-center">
        <iframe src="https://www.youtube.com/embed/YiZ05G6LgUM" width="500" height="350"></iframe>

        <div class="col-lg-4 col-md-6 webby">
<!--            <button type="button" class="collapsible">Video Highlights</button>-->
<!--                <div class="content">-->
<!--                    <p>-->
<!--                        <b>1)</b> It is our attitude at the beginning of our task that more than anything will affect its successful outcome<br>-->
<!--                        <b>2)</b> It is our attitude toward life which will determine life’s attitude towards us<br>-->
<!--                        <b>3)</b> We are interdependent it is impossible to succeed without others, and it is our attitude towards others that will determine others' attitude towards us<br>-->
<!--                        <b>4)</b> Before a person can achieve the kind of life he wants he must become that kind of individual<br>-->
<!--                        <b>5)</b> The higher you go in any organization of value the better the attitude you’ll find<br>-->
<!--                        <b>6)</b> Your mind can only hold one though at a time and since there is nothing to gain from being negative, hold positive thoughts<br>-->
<!--                        <b>7)</b> The deepest craving in human beings is to be needed, feel important and appreciated, give it to them, and they will return it to you<br>-->
<!--                        <b>8)</b> Look for the best in new ideas, as someone said, I've never met a person I couldn't learn something from<br>-->
<!--                        <b>9)</b> Don’t waste valuable time broadcasting personal problems<br>-->
<!--                        <b>10)</b> Don’t talk about your health unless it’s good<br>-->
<!--                        <b>11)</b> Radiate the attitude of well-being, of confidence, of a person who knows where he is going this will inspire those around you<br>-->
<!--                        <b>12)</b> For the next 30 days treat anyone who you come in contact with as the most important person on earth<br>-->
<!--                    </p>-->
<!--                </div>-->

            <hr>

            <button type="button" class="collapsible">As A Man Thinketh</button>
                <div class="content">
                    <span>
                        The aphorism, "As a man thinketh in his heart so is he," not only embraces the whole of a man's being, but is so
                        comprehensive as to reach out to every condition and circumstance of his life. A man is literally what he thinks,
                        his character being the complete sum of all his thoughts.
                        As the plant springs from, and could not be without, the seed, so every act of a man springs from the hidden
                        seeds of thought, and could not have appeared without them. This applies equally to those acts called
                        "spontaneous" and "unpremeditated" as to those which are deliberately executed.
                        Act is the blossom of thought, and joy and suffering are its fruits; thus does a man garner in the sweet and bitter
                        fruitage of his own husbandry.
                    </span>
                </div>

        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <a href="https://www.vcalvario.com"><img src="{% static 'portfolio/images/CVLogo3D.png' %}" class="img-fluid mb-2 intro round" width="50%" alt="vcalvario logo"/></a>
        </div>
    </div>
</div>
<br>

<script>
    var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>
{% endblock %}