{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-8">
    <img src="{% static 'portfolio/myquotecvlogoFinal.jpg' %}" class="img-fluid" alt="My Profile Pic">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
      <h1 id="hometext" class="font-weight-bold">Victor Calvario<br>Commander-in-Chief<br><span style="color:red;">@</span><br>CalvarioV Enterprise. 🚨</h1>
  </div>
</div>

<h2 class="mt-5">Portfolio</h2>
<hr style="background-color:red">

<div class="row justify-content-around">

    {% for project in projects %}

    <div class="col-lg-4 col-md-6">

        <h3>{{ project.title }}</h3>


        {% if project.url %}
        <a href="{{ project.url }}">
            <img src="{{ project.image.url }}" class="img-fluid mb-2" alt="Project Image">
        </a>

        {% else %}

        <img src="{{ project.image.url }}" class="img-fluid mb-2" alt="Project Image">

        {% endif %}

        <p>{{ project.description }}</p>

    </div>

{% endfor %}
</div>

<hr style="background-color:red">

<div class="row justify-content-center my-3">
  <div class="col-lg-4 col-md-6">
      <h2>Ask and you shall receive.</h2>

      <img src="{% static 'portfolio/babygrootnike.jpeg' %}" class="img-fluid mb-2" alt="Baby Groot">

  </div>
</div>
<hr style="background-color:red">
<div class="container">
    <div class="row justify-content-center" id="Video">
        <iframe src="https://www.youtube.com/embed/YiZ05G6LgUM" width="500" height="350"></iframe>
        <div class="col-lg-4 col-md-6">
            <p>1. It is our attitude at the beginning of our task that more than anything will affect its successful outcome<br>
2. It is our attitude toward life which will determine life’s attitude towards us<br>
3. We are interdependent it is impossible to succeed without others and it is our attitude towards others that will determine others attitude towards us<br>
4. Before a person can achieve the kind of life he wants he must become that kind of individual<br>
5. The higher you go in any organization of value the better the attitude you’ll find<br>
6. Your mind can only hold one though at a time and since there is nothing to gain from being negative, hold positive thoughts<br>
7. The deepest craving in humans beings is to be needed, feel important and appreciated, give it to them and they will return it to you.<br>
8. Look for the best in new ideas as someone said ive never met a person I couldn’t learn something from<br>
9. Don’t waste valuable time broadcasting personal problems<br>
10. Don’t talk about your health unless it’s good<br>
11. Radiate the attitude of wellbeing, of confidence, of a person who knows where he is going this will inspire those around you<br>
12. For the next 30 days treat anyone who you come in contact with as the most important person on earth<br></p>
        </div>
    </div>
</div>
<hr style="background-color:blue">

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <img src="{% static 'portfolio/CVLogo2.png' %}" class="img-fluid mb-2" width="50%" alt="Logo">
        </div>
    </div>
</div>
<br>

{% endblock %}