{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/portfolio/css/resume.css">
    <title>Victor Calvario - Resume</title>
  </head>
  <body>
    <div class="container">
      <h1>Victor Manuel Calvario</h1>
      <p class="text-center">
        calvario24@icloud.com
      </p>
      <h2>Premium Sales Consultant<br> Graphic & Web Designer</h2>
      <hr>
      <h3>Professional Summary</h3>
      <p>
        Dynamic and results-driven professional with a diverse background in sales, leadership, and technical expertise. I began my career as a Frontier door-to-door sales representative, where I honed my communication and customer engagement skills. Progressing to a lead position at a warehouse, I developed strong leadership and organizational abilities, overseeing operations and ensuring efficiency.

Transitioning back to a salesman role for appliances, I leveraged my product knowledge and sales acumen to drive revenue growth and enhance customer satisfaction. As a Verizon activation specialist, I mastered technical sales, providing seamless activation services and exceptional customer support. My experience further expanded as a home theater Sony VPL specialist, where I combined technical proficiency with sales to deliver customized home theater solutions.

Currently, I serve as a premium generalist, applying my extensive sales, leadership, and technical expertise to provide high-level support and drive business success. My career trajectory demonstrates a consistent track record of achievement and adaptability across various roles and industries.
      </p>
      <hr>

      <h2>Work Experience</h2>
      <!--        position # Premium Home Theater Specialist 6  -->
        <div>
            <h4>Premium Home Theater Specialist</h4>
      <p>Best Buy - July 2024 to Present</p>
      <ul>
        <li>Ensured the department consistently met and exceeded daily revenue targets, closely monitoring sales performance and implementing strategies to drive growth</li>
        <li>Maintained the department's alignment with previous years' goals, striving for continuous improvement and fostering a culture of business growth and development</li>
        <li>Developed and implemented effective selling strategies, such as the "Good, Better, Best" approach, across all brands in the home theater department to cater to diverse customer preferences and increase sales</li>
      </ul>
        </div>


      <!--        position # Sony VPL 5  -->
        <div>
            <h4>Sony VPL</h4>
      <p>Best Buy - Nov 2023 to June 2024</p>
      <ul>
        <li>Educated customers on the advanced features and benefits of Sony's high-definition televisions and home theater systems, enabling them to make informed purchasing decisions</li>
        <li>Actively promoted Sony's range of TVs, emphasizing their superior picture quality, innovative technology, and overall performance</li>
        <li>Developed a web app to showcase different television models, providing on-demand information about features, prices, and size availability, thereby maximizing sales and enhancing customer engagement</li>
      </ul>
        </div>

      <!--        position # Verizon VPL 4  -->
        <div>
            <h4>Verizon VPL</h4>
      <p>Best Buy - Nov 2021 to Nov 2023</p>
      <ul>
        <li>Create customers new account and activate new lines, ensuring a smooth customer experience and seamless transition from old to new devices</li>
        <li>Provide expert advice to customers, helping them choose the best options for their needs</li>
        <li>Utilized in-depth product knowledge to upsell and cross-sell additional services, resulting in increased revenue</li>
      </ul>
        </div>

      <!--        position # Appliance Generalist 3  -->
        <div>
            <h4>Appliance Generalist</h4>
      <p>Best Buy - May 2021 to Nov 2021</p>
      <ul>
        <li>Assisted customers in building comprehensive kitchen packages, ensuring selections met their specific needs and preferences</li>
        <li>Provided various options tailored to specific measurements and requirements, offering expert advice to optimize space and functionality</li>
        <li>Created detailed orders, coordinating entire installation services to ensure seamless and satisfactory customer experiences</li>
      </ul>
        </div>

      <!--        position # Warehouse Lead 2  -->
        <div>
            <h4>Warehouse Lead</h4>
      <p>Various Companies - 2019 to 2021</p>
      <ul>
        <li>Operated forklifts and electric pallet jacks</li>
        <li>Utilize RF Scanner and the Synapse program to assign and complete orders</li>
        <li>Managed team to complete daily orders to guarantee timely and accurate deliveries</li>
      </ul>
        </div>

      <!--        position # Telecom 1  -->
        <div>
            <h4>Customer Service Representative</h4>
      <p>Telecom Communications - 2017 to 2019</p>
      <ul>
        <li>Successfully sign up new accounts for telecom services</li>
        <li>Resolved customer complaints and inquiries promptly, maintaining a high level of customer
satisfaction</li>
        <li>Collaborate with team members to share sales strategies and best practices, contributing to a positive and supportive work environment</li>
      </ul>
        </div>






      <hr>
      <h2>Skills</h2>
      <ul class="skills-list">
        <li>
            <span>Sales</span>
            <div class="progress-bar-container">
                <div class="progress-bar" data-value="90"></div>
            </div>
        </li>
        <li>
            <span>Photoshop</span>
            <div class="progress-bar-container">
                <div class="progress-bar" data-value="80"></div>
            </div>
        </li>
        <li>
            <span>Animation and Video</span>
            <div class="progress-bar-container">
                <div class="progress-bar" data-value="70"></div>
            </div>
        </li>
        <li>
            <span>Front-End Development</span>
            <div class="progress-bar-container">
                <div class="progress-bar" data-value="85"></div>
            </div>
        </li>
        <li>
            <span>Back-End Development</span>
            <div class="progress-bar-container">
                <div class="progress-bar" data-value="75"></div>
            </div>
        </li>
    </ul>


      <hr>
      <a href="{% static 'portfolio/Py4eCer.pdf' %}">Python Certificate</a><br><br>
      <a href="{% static 'portfolio/Dj4eCer.pdf' %}">Django Certificate</a><br>
      <hr>
      <button id="dark-mode-btn">Visionary Edition</button>
    </div>

    <footer>
  <a href="{% url 'vibes' %}">
    <img src="https://www.vcalvario.com/static/portfolio/images/LogoFinalForever.png" alt="Home Icon">
  </a>
</footer>

    <script>
      const darkModeBtn = document.getElementById("dark-mode-btn");
      darkModeBtn.addEventListener("click", function () {
        document.body.classList.toggle("dark-mode");
      });
    </script>
    <script src="{% static 'portfolio/js/resume1.js' %}"></script>
  </body>
</html>
