{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/portfolio/css/resume.css">
    <title>Victor Calvario - Resume</title>
  </head>
  <body>
    <div class="container">
      <h1>Victor Calvario</h1>
      <p class="text-center">
        (562)287-3664 | calvario24@icloud.com
      </p>
      <h2>Verizon Account Vendor &amp; Graphic Designer</h2>
      <hr>
      <h3>Professional Summary</h3>
      <p>
        Experienced Verizon account vendor with a proven track record of top performance. Skilled in sales, photoshop, animation and video, front-end development, and forklift and electric pallet jack operation. Proficient in activating new lines, creating accounts, and selling memberships in a fast-paced retail environment. Adept at using technology to streamline sales processes and enhance customer experience. Committed to delivering outstanding customer service and achieving sales goals.
      </p>
      <hr>
      <h3>Work Experience</h3>
      <h4>Verizon Account Vendor</h4>
      <p>Best Buy - 2021 to present</p>
      <ul>
        <li>Activate new lines and create new accounts for customers</li>
        <li>Sell memberships and other products in store</li>
        <li>Top performer for the past three months</li>
      </ul>
      <h4>Warehouse Worker</h4>
      <p>Various Companies - 2014 to 2021</p>
      <ul>
        <li>Operated forklifts and electric pallet jacks</li>
        <li>Assisted in loading and unloading deliveries</li>
        <li>Maintained a clean and safe working environment</li>
      </ul>
      <hr>
      <h3>Skills</h3>
      <ul>
        <li>Sales</li>
        <li>Photoshop</li>
        <li>Animation and Video</li>
        <li>Front-end Development</li>
        <li>Forklift and Electric Pallet Jack Operation</li>
      </ul>
      <hr>
      <button id="dark-mode-btn">Visionary Edition</button>
    </div>

    <footer>
  <a href="{% url 'vibes' %}">
    <img src="https://www.vcalvario.com/static/portfolio/images/cvlogo3.png" alt="Home Icon">
  </a>
</footer>

    <script>
      const darkModeBtn = document.getElementById("dark-mode-btn");
      darkModeBtn.addEventListener("click", function () {
        document.body.classList.toggle("dark-mode");
      });
    </script>
  </body>
</html>
