{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <meta name="description" content="Victor Calvario. Universal Vibes. A place of infinite possibilities and alternate realities."/>
    <link rel="stylesheet" href="{% static 'portfolio/css/vibes.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static 'portfolio/CVLogo2.png' %}">
    <title>vcalvario.com</title>
</head>

<body>
<br>

    <div class="masthead">
        <br>
        <p class="grads">creators of our own realities.</p>
        <br>
        <hr>
        <div class="text-center mt-4m mb-4">
                    <a class="btn btn-md btn-outline-danger" href="{% url 'bestguide:besthome' %}">
                        <i class="fas fa-book-reader me-2"></i>
                        Appliances Guide
                    </a>
        </div>



        <section class="masthead text-white text-center mt-4 mb-4">
                    <p class="coming-soon-text">More apps coming soon!</p>
        </section>

        <div class="neonbody">
            <div>
                 Diamond.Dream.Visionaries
            </div>
        </div>


        <div class="img-border">
            <a href="#"><img src="https://calvariov.pythonanywhere.com/site/subfolder/spacefloatddvTCgiphy.gif" class="img-fluid" alt="spacefloat"/></a>
        </div>
    </div>


</body>
{% endblock %}




</html>