{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'portfolio/css/vibes.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Vibes</title>
</head>
<body>
    <div>
        <br>
        <p>CREATE YOUR OWN REALITY.</p>
        <br>
        <hr>
        <div>
            <a href="#"><p>vcalvario.com</p></a>

        </div>
        <hr>
    </div>

    <section>
         <div>
            <a href="https://www.facebook.com/victor.calvario.754/"><i class="fa fa-facebook-official w3-hover-opacity vika"></i></a>
            <a href="https://www.instagram.com/calvario.v/"><i class="fa fa-instagram w3-hover-opacity vika"></i></a>
           <!-- <i class="fa fa-instagram w3-hover-opacity"></i> -->
            <a href="https://www.snapchat.com/add/calvariov"><i class="fa fa-snapchat w3-hover-opacity vika"></i></a>
            <a href="https://twitter.com/CalvarioV1"><i class="fa fa-twitter w3-hover-opacity vika"></i></a>
            <a href="https://github.com/CalvarioV"><i class="fa fa-github w3-hover-opacity vika"></i></a>
         </div>
    </section>




</body>
</html>