{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}
<head>
    <title>Blogs</title>

</head>

<nav id="topNav" class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'vibes' %}">
        <img src="{% static 'portfolio/CVLogo2.png' %}" width="30" height="30" class="d-inline-block align-top" alt="vcalvario logo">
      </a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'vibes' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'bestguide:besthome' %}">BestGuide</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% static 'portfolio/Py4eCer.pdf' %}">Py4e</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% static 'portfolio/Dj4eCer.pdf' %}">Dj4e</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'portfolio' %}" target="_self">Portfolio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active1" href="{% url 'blog:all_blogs' %}">Blogs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h1 id="blogtitle" class="font-weight-bold text-center">Blogs</h1>
<hr>


<h3 class="text-center mb-5">Victor has written {{ posts.count }} blog{{ posts.count|pluralize }}</h3>
<br>

{% for post in posts %}

<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' post.id %}">
      <h2>{{ post.title }}</h2>
    </a>
    <h5 class="text-muted amy">{{ post.created_at|date:'M d Y'|upper }}</h5>
    <h4 class="amy">{{ post.description|striptags|truncatechars:100 }}</h4>
  </div>
</div>




{% endfor %}

{% endblock %}