{% extends 'portfolio/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{% static 'portfolio/CVLogo2.png' %}">
</head>
{% block content %}


<img src="{% static 'portfolio/vikabestguide.png' %}" class="img-fluid intro round" style="width:75%;" alt="BestguideLogo">
<hr>
<h1>Appliances</h1>
<h1>Services and Attachments</h1>
<hr>

<section>
    <h2>Refrigerator</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Advanced install and New Water Line Supply<br><em class="price">$134.99</em>| <span class="sku">SKU:3533705</span> </li>
            <li>Basic install(water kit required)<br><em class="price">$0.00</em>| <span class="sku">SKU:5246604</span></li>
            <li>Haul Away(1 for 1)<br><em class="price">$29.99</em>| <span class="sku">SKU:5445800</span></li>
            <li>Refrigerator door hinge reversal<br><em class="price">$0.00</em>| <span class="sku">SKU:6014300</span></li>
        </ul>
    </details>
    <details>
        <summary>Attachments</summary>
        <ul>
            <li>Water Kit 6ft.<br><em class="price">$29.99</em>| <span class="sku">SKU:9089657</span> </li>
        </ul>
    </details>
</section>

<section>
    <h2>Range</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Advanced gas regulated install<br><em class="price">$139.99</em>| <span class="sku">SKU:3822812</span></li>
            <li>Basic install NONREG(gas kit required)<br><em class="price">$19.99</em>| <span class="sku">SKU:5246602</span></li>
            <li>Electric freestanding range install(power cord required)<br><em class="price">$0.00</em>| <span class="sku">SKU:5246502</span></li>
            <li>Install for slide in range 149.99</li>
            <li>Haul Away 29.99 (1 for 1)</li>

        </ul>
    </details>
    <details>
        <summary>Attachments</summary>
        <ul>
            <li>Gas Kit 32.99 (gas range)</li>
            <li>Power Cord 27.99 (electric range)</li>
        </ul>
    </details>

</section>

<section>
    <h2>Washer</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Basic install 0.00 (water kit required)</li>
            <li>Haul Away 29.99 (1 for 1)</li>
            <li>2nd Floor installs should have drain pan in place before installation</li>
        </ul>
    </details>
    <details>
        <summary>Attachments</summary>
        <ul>
            <li>Water Kit 6ft. 29.99</li>
            <li>Stacking Kit Price and SKU varies on brand and unit</li>
            <li>Pedestals Price and SKU varies on brand and unit</li>

        </ul>
    </details>
</section>


<section>
    <h2>Dryer</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Advanced gas regulated install 139.99</li>
            <li>Basic install gas NONREG 19.99 (gas kit required)</li>
            <li>Electric install 0.00 (power cord required)</li>
            <li>Haul Away 29.99 (1 for 1)</li>
            <li>Dryer hinge reversal 0.00</li>
        </ul>
    </details>
    <details>
        <summary>Attachments</summary>
        <ul>
            <li>Gas line 31.99 (gas dryer)</li>
            <li>Vent Kit 26.99</li>
            <li>Power cord 29.99 (electric dryer)</li>
            <li>Steam kit 26.99 (steam function only)</li>
        </ul>
    </details>
</section>

<section>
    <h2>OTR Microwave</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Install (replacement) 119.99</li>
            <li>New install 199.99</li>
        </ul>
    </details>
</section>

<section>
    <h2>Dishwasher</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Install (replacement) 149.99</li>
            <li>Install with disposal 199.99</li>
            <li>Install Garbage Disposal 119.99</li>
        </ul>
    </details>
    <details>
        <summary>Attachments</summary>
        <ul>
            <li>Dishwasher install Kit 29.99</li>
        </ul>
    </details>
</section>

<section>
    <h2>Range Hood</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Under Cabinet Range Hood 129.99</li>
            <li>Island or Wallmount 449.99</li>
        </ul>
    </details>
</section>

<section>
    <h2>Cooktops</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Install (replacement) 139.99</li>
            <li>Install w/ Down Draft Venting 0.00</li>
        </ul>
    </details>
</section>

<section>
    <h2>Wallovens</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Install Single Built-In Oven 159.99</li>
            <li>Install Double Built-In Oven and Microwave combo 199.99</li>
        </ul>
    </details>
</section>

<hr>

{% endblock %}
</html>