
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sony Montana</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="/static/bestguide/css/beststyle.css">
</head>



<body>
    <h1>TV Guide</h1>
<!-- Sony Section                           -->
  <section class="sony">
    <h2>Sony Tvs</h2>
  <details>
    <summary>Models</summary>
    <div class="card-container">
        <!-- Card 1: Model A95L -->
        <div class="card">
            <h3>Sony TV Model A95L</h3>
          <p><small>Type: </small><em>OLED</em></p>
          <p><small>Native Motion: </small><em>120Hz</em></p>
          <p><small>HDMI 2.1 Inputs(Total): </small><em>2 (4)</em></p>
          <p><small>USB 3.0 Ports(Total): </small><em>0 (2)</em></p>
          <p><small>Smart TV OS: </small><em>Google TV</em></p>
          <p><small>Size/Price:  </small>
            <details>
              <summary><small>Details</small></summary>
              <p><a href="https://www.bestbuy.com/site/sony-55-class-bravia-xr-a95l-oled-4k-uhd-smart-google-tv/6553384.p?skuId=6553384" target="_blank">Check Promos</a></p>
              <p><em>55 | 2799.99</em></p>
              <p><em>65 | 3499.99</em></p>
              <p><em>77 | 4999.99</em></p>
            </details>
          </p>
            <div class="rating">
                <span>💎💎💎💎💎</span> <!-- 5-star rating -->
                <span>5/5</span>
            </div>





        </div>

        <!-- Card 2: Model X93L -->
        <div class="card">
            <h3>Sony TV Model X93L</h3>
          <p><small>Type: </small><em>MINI LED</em></p>
          <p><small>Native Motion: </small><em>120Hz</em></p>
          <p><small>HDMI 2.1 Inputs(Total): </small><em>2 (4)</em></p>
          <p><small>USB 3.0 Ports(Total): </small><em>0 (2)</em></p>
          <p><small>Smart TV OS: </small><em>Google TV</em></p>
          <p><small>Size/Price:  </small>
            <details>
              <summary><small>Details</small></summary>
              <p><a href="https://www.bestbuy.com/site/sony-65-class-bravia-xr-x93l-mini-led-4k-uhd-smart-google-tv/6543517.p?skuId=6543517" target="_blank">Check Promos</a></p>
              <p><em>65 | 1799.99</em></p>
              <p><em>75 | 2799.99</em></p>
              <p><em>85 | 3799.99</em></p>
            </details>
          </p>
            <div class="rating">
                <span>💎💎💎💎💎</span> <!-- 5-star rating -->
                <span>5/5</span>
            </div>
        </div>

        <!-- Add more cards for other models here -->

         <!-- Card 3: Model X90L -->
        <div class="card">
            <h3>Sony TV Model X90L</h3>
          <p><small>Type: </small><em>LED</em></p>
          <p><small>Native Motion: </small><em>120Hz</em></p>
          <p><small>HDMI 2.1 Inputs(Total): </small><em>2 (4)</em></p>
          <p><small>USB 3.0 Ports(Total): </small><em>0 (2)</em></p>
          <p><small>Smart TV OS: </small><em>Google TV</em></p>
          <p><small>Size/Price:  </small>
            <details>
              <summary><small>Details</small></summary>
              <p><a href="https://www.bestbuy.com/site/sony-55-class-bravia-xr-x90l-led-4k-uhd-smart-google-tv/6544734.p?skuId=6544734" target="_blank">Check Promos</a></p>
              <p><em>55 | 1199.99</em></p>
              <p><em>65 | 1299.99</em></p>
              <p><em>75 | 1899.99</em></p>
              <p><em>85 | 2199.99</em></p>
              <p><em>98 | 7999.99</em></p>
            </details>
          </p>
            <div class="rating">
                <span>💎💎💎💎💎</span> <!-- 5-star rating -->
                <span>5/5</span>
            </div>
        </div>

      <!-- Card 4: Model X80K -->
        <div class="card">
            <h3>Sony TV Model X80K</h3>
          <p><small>Type: </small><em>LED</em></p>
          <p><small>Native Motion: </small><em>60Hz ( *120hz)</em></p>
          <p><small>HDMI 2.1 Inputs(Total): </small><em>2 (4)</em></p>
          <p><small>USB 3.0 Ports(Total): </small><em>0 (2)</em></p>
          <p><small>Smart TV OS: </small><em>Google TV</em></p>
          <p><small>Size/Price:  </small>
            <details>
              <summary><small>Details</small></summary>
              <p><a href="https://www.bestbuy.com/site/sony-55-class-x80k-led-4k-uhd-smart-google-tv/6499709.p?skuId=6499709" target="_blank">Check Promos</a></p>
              <p><em>55 | 649.99</em></p>
              <p><em>65 | 799.99</em></p>
              <p><em>75 | 999.99</em></p>
              <p><em> *85 | 1399.99</em></p>
            </details>
          </p>
            <div class="rating">
                <span>💎💎💎💎💎</span> <!-- 5-star rating -->
                <span>5/5</span>
            </div>
        </div>



    </div>
  </details>
  </section>

<!-- Samsung Section                        -->
  <section class="samsung">
    <h2>Samsung Tvs</h2>
  <details>
    <summary>Models</summary>
    <div class="card-container">
        <!-- Card 1: Model 1 -->
        <div class="card">
            <h3>TV Model</h3>
          <p><small>Resolution/Type: </small><em>coming soon</em></p>
          <p><small>Native Motion: </small><em>coming soon</em></p>
          <p><small>HDMI 2.1 Inputs(Total): </small><em>coming soon</em></p>
          <p><small>USB 3.0 Ports(Total): </small><em>coming soon</em></p>
          <p><small>Smart OS: </small><em>coming soon</em></p>
          <p><small>Size/Price:  </small>
            <details>
              <summary><small>Details</small></summary>
              <p><em>55 | 2799.99</em></p>
              <p><em>65 | 3499.99</em></p>
              <p><em>77 | 4999.99</em></p>
            </details>
          </p>
            <div class="rating">
                <span>💎💎💎💎💎</span> <!-- 5-star rating -->
                <span>5/5</span>
            </div>
        </div>

        <!-- Card 2: Model 2 -->
        <div class="card">
            <h3>TV Model</h3>
          <p><small>Resolution/Type: </small><em>coming soon</em></p>
          <p><small>Native Motion: </small><em>coming soon</em></p>
          <p><small>HDMI 2.1 Inputs(Total): </small><em>coming soon</em></p>
          <p><small>USB 3.0 Ports(Total): </small><em>coming soon</em></p>
          <p><small>Smart OS: </small><em>coming soon</em></p>
          <p><small>Size/Price:  </small>
            <details>
              <summary><small>Details</small></summary>
              <p><em>55 | 2799.99</em></p>
              <p><em>65 | 3499.99</em></p>
              <p><em>77 | 4999.99</em></p>
            </details>
          </p>
            <div class="rating">
                <span>💎💎💎💎💎</span> <!-- 5-star rating -->
                <span>5/5</span>
            </div>
        </div>

        <!-- Card 3: Model 3 -->
        <div class="card">
            <h3>TV Model</h3>
          <p><small>Resolution/Type: </small><em>coming soon</em></p>
          <p><small>Native Motion: </small><em>coming soon</em></p>
          <p><small>HDMI 2.1 Inputs(Total): </small><em>coming soon</em></p>
          <p><small>USB 3.0 Ports(Total): </small><em>coming soon</em></p>
          <p><small>Smart OS: </small><em>coming soon</em></p>
          <p><small>Size/Price:  </small>
            <details>
              <summary><small>Details</small></summary>
              <p><em>55 | 2799.99</em></p>
              <p><em>65 | 3499.99</em></p>
              <p><em>77 | 4999.99</em></p>
            </details>
          </p>
            <div class="rating">
                <span>💎💎💎💎💎</span> <!-- 5-star rating -->
                <span>5/5</span>
            </div>
        </div>


    </div>
  </details>
  </section>

<!-- Lg Section                              -->
  <section class="lg">
    <h2>Lg Tvs</h2>
  <details>
    <summary>Models</summary>
    <div class="card-container">
        <!-- Card 1: Model 1 -->
        <div class="card">
            <h3>TV Model</h3>
          <p><small>Resolution/Type: </small><em>coming soon</em></p>
          <p><small>Native Motion: </small><em>coming soon</em></p>
          <p><small>HDMI 2.1 Inputs(Total): </small><em>coming soon</em></p>
          <p><small>USB 3.0 Ports(Total): </small><em>coming soon</em></p>
          <p><small>Smart OS: </small><em>coming soon</em></p>
          <p><small>Size/Price:  </small>
            <details>
              <summary><small>Details</small></summary>
              <p><em>55 | 2799.99</em></p>
              <p><em>65 | 3499.99</em></p>
              <p><em>77 | 4999.99</em></p>
            </details>
          </p>
            <div class="rating">
                <span>💎💎💎💎💎</span> <!-- 5-star rating -->
                <span>5/5</span>
            </div>
        </div>

        <!-- Card 2: Model 2 -->
        <div class="card">
            <h3>TV Model</h3>
          <p><small>Resolution/Type: </small><em>coming soon</em></p>
          <p><small>Native Motion: </small><em>coming soon</em></p>
          <p><small>HDMI 2.1 Inputs(Total): </small><em>coming soon</em></p>
          <p><small>USB 3.0 Ports(Total): </small><em>coming soon</em></p>
          <p><small>Smart OS: </small><em>coming soon</em></p>
          <p><small>Size/Price:  </small>
            <details>
              <summary><small>Details</small></summary>
              <p><em>55 | 2799.99</em></p>
              <p><em>65 | 3499.99</em></p>
              <p><em>77 | 4999.99</em></p>
            </details>
          </p>
            <div class="rating">
                <span>💎💎💎💎💎</span> <!-- 5-star rating -->
                <span>5/5</span>
            </div>
        </div>

        <!-- Card 3: Model 3 -->
        <div class="card">
            <h3>TV Model</h3>
          <p><small>Resolution/Type: </small><em>coming soon</em></p>
          <p><small>Native Motion: </small><em>coming soon</em></p>
          <p><small>HDMI 2.1 Inputs(Total): </small><em>coming soon</em></p>
          <p><small>USB 3.0 Ports(Total): </small><em>coming soon</em></p>
          <p><small>Smart OS: </small><em>coming soon</em></p>
          <p><small>Size/Price:  </small>
            <details>
              <summary><small>Details</small></summary>
              <p><em>55 | 2799.99</em></p>
              <p><em>65 | 3499.99</em></p>
              <p><em>77 | 4999.99</em></p>
            </details>
          </p>
            <div class="rating">
                <span>💎💎💎💎💎</span> <!-- 5-star rating -->
                <span>5/5</span>
            </div>
        </div>


    </div>
  </details>
  </section>







</body>

<footer>
  <a href="{% url 'about' %}">
    <img src="https://www.vcalvario.com/static/portfolio/images/LogoFinalForever.png" alt="projects">
  </a>
</footer>



</html>