{% extends 'portfolio/base.html' %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <title>BestGuide</title>
</head>
<body>
<h1>Appliance Services and Attachments</h1>
<hr>

<section>
    <h2>Refrigerator</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Advanced install 134.99 (pre drill required)</li>
            <li>Basic install 0.00 (water kit required)</li>
            <li>Haul Away 29.99 (1 for 1)</li>
        </ul>
    </details>
    <details>
        <summary>Attachments</summary>
        <ul>
            <li>Water Kit 6ft. 29.99</li>
        </ul>
    </details>
</section>

<section>
    <h2>Range</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Advanced gas regulated install 139.99</li>
            <li>Basic install NONREG 19.99 (gas kit required)</li>
            <li>Electric freestanding range install 0.00 (power cord required)</li>
            <li>Install for slide in range 149.99</li>
            <li>Haul Away 29.99 (1 for 1)</li>

        </ul>
    </details>
    <details>
        <summary>Attachments</summary>
        <ul>
            <li>Gas Kit 32.99 (gas range)</li>
            <li>Power Cord 27.99 (electric range)</li>
        </ul>
    </details>

</section>

<section>
    <h2>Washer</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Basic install 0.00 (water kit required)</li>
            <li>Haul Away 29.99 (1 for 1)</li>
            <li>2nd Floor installs should have drain pan in place before installation</li>
        </ul>
    </details>
    <details>
        <summary>Attachments</summary>
        <ul>
            <li>Water Kit 6ft. 29.99</li>
            <li>Stacking Kit Price and SKU varies on brand and unit</li>
            <li>Pedestals Price and SKU varies on brand and unit</li>

        </ul>
    </details>
</section>


<section>
    <h2>Dryer</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Advanced gas regulated install 139.99</li>
            <li>Basic install gas NONREG 19.99 (gas kit required)</li>
            <li>Electric install 0.00 (power cord required)</li>
            <li>Haul Away 29.99 (1 for 1)</li>
            <li>Dryer hinge reversal 0.00</li>
        </ul>
    </details>
    <details>
        <summary>Attachments</summary>
        <ul>
            <li>Gas line 31.99 (gas dryer)</li>
            <li>Vent Kit 26.99</li>
            <li>Power cord 29.99 (electric dryer)</li>
            <li>Steam kit 26.99 (steam function only)</li>
        </ul>
    </details>
</section>

<section>
    <h2>OTR Microwave</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Install (replacement) 119.99</li>
            <li>New install 199.99</li>
        </ul>
    </details>
</section>

<section>
    <h2>Dishwasher</h2>
    <details>
        <summary>Services</summary>
        <ul>
            <li>Install (replacement) 149.99</li>
            <li>Install with disposal 199.99</li>
            <li>Install Garbage Disposal 119.99</li>
        </ul>
    </details>
    <details>
        <summary>Attachments</summary>
        <ul>
            <li>Dishwasher install Kit 29.99</li>
        </ul>
    </details>
</section>

<hr>

</body>
{% endblock %}
</html>