{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bestguide/css/teststyle.css' %}">
    <title>Testing Page</title>
</head>
<body class="background">

    <div class="vikmes">
        <div class="calvario">
          <span class="cal cal1"><img src="{% static 'portfolio/CVLogo2.png' %}" width="16px" height="18px"></span>
             <span class="cal cal2">💯</span>
             <span class="cal cal3">💯</span>
             <h1>BE<span class="cal1">LIEVE IN</span></h1>
             <h1>YOU<span class="cal1">RSELF</span>!</h1>

        </div>


    </div>


    <div>
       <div>
      <img src="{% static 'portfolio/images/infiniteintelligencetake2.jpg' %}" class="gcar"/>
       </div>
    </div>

</body>
</html>