@import url('https://fonts.googleapis.com/css2?family=Lobster');

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

    /* Add a gray background color and some padding to the footer */
footer {
  /*background-color: #000000;*/

  position:fixed;
  bottom:0px;
  width:100%;
  text-align:center;
  margin: 2px;
  padding: 2px;
  display: inline-block;


}

body {
    background: linear-gradient(black, red);
    height: 100%;
    margin-bottom:1000px;
}


header {
    padding: 2%;
    background-color: #000000;
}

p {
    padding:2%;
    margin:1%;
    color: blue;
}

h1 {
    position: relative;
    /* top: 160px; */
    font-family: "Lobster", cursive;
    color: #b50707;
    text-align: center;
}

.calvario {
  position: relative;
  width: 90%;
  height: 20%;
  margin: 5%;
  margin-top:1%;
  padding: 1%;
  background: #000000;
  /*border: 1px black solid; */
}

.cal {
  position: relative;
  top: 200px;
  color: #de4747;
}

.cal1 {
  left: 45%;
  -webkit-animation-name: cal1;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes cal1{
  0% {top: 150px;}
  10% {left: 47%;}
  20% {left: 45%;}
  30% {left: 47%;}
  40% {left: 45%;}
  50% {left: 47%;}
  60% {left: 45%;}
  70% {left: 47%;}
  80% {left: 45%;}
  90% {left: 47%;}
  100% {top: 10px; left: 45%; opacity: 0}
}

.cal2 {
  left: 35%;
  -webkit-animation-name: cal2;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes cal2{
  0% {top: 150px;}

  20% {left: 33%;}

  40% {left: 35%;}

  60% {left: 33%;}

  80% {left: 35%;}

  100% {top: 10px; left: 33%; opacity: 0}
}

.cal3 {
  left: 55%;
  -webkit-animation-name: cal3;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes cal3{
  0% {top: 150px;}

  20% {left: 57%;}

  40% {left: 55%;}

  60% {left: 57%;}

  80% {left: 55%;}

  100% {top: 10px; left: 57%; opacity: 0}
}

.gcar {
    width:75%;
    height:auto;
    margin-left:13%;
    margin-top:10%;
}