@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Bad+Script&display=swap');


body, html {
    height:auto;
    padding:auto;

}

.background {
  /* the image used  */
    background:linear-gradient(black, red);

  /* full height  */
    height:100%;

  /* center and scale the image nicely  */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

}

.vikmes {
    position:relative;
    width:90%;
    height:auto;
  /*  border:1px white solid; */

    display:block;
}

p {
    color:white;
    text-align:center;
}

h1 {
    position: relative;
    /* top: 160px; */
    font-family: "Courgette", cursive;
    color: #b50707;
    font-size:150%;
    text-align: center;
}

h2, h3 {
    text-align:center;
    font-family: "Bad Script", cursive;
}

.calvario {
  position: relative;
  width:90%;
  margin: auto;
  margin-top:5%;
  padding: 1%;

/*  border: 1px white solid; */
  display:block;
}

.cal {
  position: relative;
  top: 200px;
  color: #de4747;
}

.cal1 {
  left: 45%;
  -webkit-animation-name: cal1;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes cal1{
  0% {top: 150px;}
  10% {left: 47%;}
  20% {left: 45%;}
  30% {left: 47%;}
  40% {left: 45%;}
  50% {left: 47%;}
  60% {left: 45%;}
  70% {left: 47%;}
  80% {left: 45%;}
  90% {left: 47%;}
  100% {top: 10px; left: 45%; opacity: 0}
}

.cal2 {
  left: 35%;
  -webkit-animation-name: cal2;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes cal2{
  0% {top: 150px;}

  20% {left: 33%;}

  40% {left: 35%;}

  60% {left: 33%;}

  80% {left: 35%;}

  100% {top: 10px; left: 33%; opacity: 0}
}

.cal3 {
  left: 55%;
  -webkit-animation-name: cal3;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes cal3{
  0% {top: 150px;}

  20% {left: 57%;}

  40% {left: 55%;}

  60% {left: 57%;}

  80% {left: 55%;}

  100% {top: 10px; left: 57%; opacity: 0}
}

.cal4 {
  left: 25%;
  -webkit-animation-name: cal4;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes cal4{
  0% {top: 150px;}

  20% {left: 27%;}

  40% {left: 25%;}

  60% {left: 27%;}

  80% {left: 25%;}

  100% {top: 10px; left: 27%; opacity: 0}
}

.gcar {
    width:75%;
    height:auto;
    border-radius:10px;
    margin-left:13%;
    opacity:90%;

}

a {
  text-decoration: none;
  transition: all 0.5s;
}

p:nth-child(1) a {
  color: #000000;
  font-family: "Bad Script";
  font-size:200%;
  animation: neon 2s ease-in-out infinite alternate;
}

@keyframes neon {
  to {
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #1129ff,
                 0 0 35px #1129ff,
                 0 0 40px #1129ff,
                 0 0 50px #1129ff,
                 0 0 75px #1129ff;
  }
}