@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aclonica&family=Megrim&family=Orbitron:wght@500&family=Zen+Kurenaido&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

body.dark-mode {
  background-image: url('https://www.vcalvario.com/static/portfolio/assets/img/retrologoanimation.gif');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: scroll;
  color: #fff;
}

.container {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 80px auto;
  max-width: 600px;
  text-align: center;
}

body.dark-mode .container {
  background-color: rgba(0, 0, 0, 0.75);
}

h1,
h2,
h3,
h4 {
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4 {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
}

p,
li {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Abel';
}

body.dark-mode p,
body.dark-mode li {
  color: #fff;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 30px;
}

.highlight {
  color: #00bfff;
  font-weight: bold;
}

.section-title {
  margin-bottom: 40px;
}

.btn {
  background-color: #00bfff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

footer img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size:38px;
  }

  h2,
  h3,
  h4 {
    font-size: 18px;
  }

  p,
  li {
    font-size: 14px;
  }

  .btn {
    padding: 5px 10px;
    font-size: 12px;
  }
}