@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@300&family=Zen+Dots&family=Zen+Loop&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #000;
}

p {
  position: relative;
  font-family: 'Zen Loop', cursive;
  text-transform: uppercase;
  font-size: 150%;
  text-align:center;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, red, #000);
  background-repeat: no-repeat;
  background-size: 85%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}